@font-face {
  font-family: JetBrainsMono;
  src: url('@/assets/fonts/JetBrainsMono-Regular.woff2');
}

pre {
  font-family: JetBrainsMono, Console, '微软雅黑', Courier, monospace !important;

  code,
  span {
    font-family: JetBrainsMono, Console, '微软雅黑', Courier, monospace !important;
  }
}


.arco-typography {
  pre {
    border: 1px solid var(--color-neutral-6);
    backdrop-filter: blur(8px);
    padding: 7px;
    border-radius: 7px;
    overflow: auto;

    code {
      color: var(--color-text-1) !important;
      overflow-x: hidden;
    }
  }

  code {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1em !important;
    border: none !important;
    background-color: transparent !important;
    color: #c7254e !important;
    border-radius: 2px;
    font-family: JetBrainsMono, Console, '微软雅黑', Courier, monospace !important;

    ol {
      margin: 0;
      padding: 0 20px;
    }
  }
}

.icon {
  fill: var(--color-text-1);
}

.arco-menu-light {
  .arco-menu-item {
    .icon {
      fill: var(--color-text-3);
    }

    &.arco-menu-selected {
      .icon {
        fill: rgb(var(--primary-6));
      }
    }
  }
}

pre code.hljs {
  overflow-x: initial !important;
}


.arco-layout-sider {
  background-color: rgba(255, 255, 255, 0.0) !important;
}

.cherry-detail-body {
  color: var(--color-text-2);
}

.kb-wang-editor {
  --w-e-toolbar-color: var(--color-text-1);
  --w-e-toolbar-active-bg-color: var(--color-neutral-3);
  --w-e-toolbar-active-color: var(--color-text-1);
  --w-e-toolbar-bg-color: var(--color-neutral-2);
  --w-e-toolbar-border-color: var(--color-neutral-4);
  --w-e-textarea-bg-color: var(--color-bg-1);
  --w-e-textarea-color: var(--color-text-1);
  --w-e-textarea-slight-bg-color: var(--color-neutral-3);
  --w-e-textarea-slight-color: var(--color-text-1);
  --w-e-modal-button-bg-color: var(--color-neutral-2);
  --w-e-modal-button-border-color: var(--color-neutral-3);

  a {
    color: rgb(var(--arcoblue-6));
  }
}

body[arco-theme=dark] {
  .w-e-text-container [data-slate-editor] pre > code {
    text-shadow: 0 1px var(--color-neutral-2);
  }

}


.cherry {

  .cherry-markdown :not(pre) > code {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: rgb(var(--red-6)) !important;
    font-family: "JetBrainsMono", "楷体", "宋体", serif;
  }

  .cherry-flex-toc {
    background-color: var(--color-bg-2) !important;
    color: var(--color-text-1) !important;

    .cherry-toc-one-a {
      color: var(--color-text-1) !important;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

      &:hover {
        color: rgb(var(--arcoblue-5)) !important;
      }

      &.current {
        color: rgb(var(--arcoblue-6)) !important;
      }
    }
  }

  .cherry-dropdown {
    color: var(--color-text-1) !important;
    background-color: var(--color-bg-2) !important;

    .cherry-toolbar-button {
      color: var(--color-text-1) !important;
      background-color: var(--color-fill-2) !important;
    }

    .cherry-insert-formula-tab {
      &.active {
        color: var(--color-text-3) !important;
        border: 1px solid var(--color-text-3) !important;
      }
    }

    .cherry-insert-formula-categary__func {
      color: var(--color-text-1) !important;
      background-color: var(--color-fill-2) !important;
    }

    .cherry-insert-formula-categary__func-item {
      color: var(--color-text-1) !important;
      background-color: var(--color-fill-3) !important;
    }
  }
}

.cherry-markdown.theme__dark table th, .cherry-markdown.theme__dark .cherry-table th {
  background-color: var(--color-fill-2) !important;
}

a {
  color: rgb(var(--arcoblue-6));
}
