@import "./customer.less";
@import "./layout.less";
@import "./scroll.css";
@import "./theme.css";
@import "./vue3-context-menu";

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.ellipsis-line(@line-number; @line-height: 1.5) {
  display: -webkit-box; /* 必须设置为 flexbox */
  -webkit-box-orient: vertical; /* 垂直排列 */
  -webkit-line-clamp: @line-number; /* 限制显示三行 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  line-height: @line-height; /* 行高 */
  max-height: @line-number * @line-height * 1em; /* 最大高度，3行 * 行高 */
}

.ellipsis-2 {
  .ellipsis-line(@line-number: 2);
}

.ellipsis-3 {
  .ellipsis-line(3);
}

.ellipsis-4 {
  .ellipsis-line(4);
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}