@charset "utf-8";
.typo {
  /* 去掉各Table cell 的边距并让其边重合 */

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: var(--td-comp-margin-xl);

    th {
      background: var(--td-bg-color-component);
    }

    thead {
      th {
        background: var(--td-bg-color-component);
      }
    }

    caption {
      border-bottom: none;
    }
    th, td, caption {
      border: 1px solid var(--td-border-level-2-color);
      padding: 0.5em 1em;
    }
  }


}




