.todo-item-setting {
  position: absolute;
  top: 4px;
  left: 8px;
  right: 8px;
  bottom: 8px;

  .todo-item-setting__header {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .todo-item-setting__input {
    margin-top: 8px;
  }

  .todo-item-setting__content {
    margin-top: 8px;
    height: calc(100vh - 220px);
    position: relative;
  }

  .todo-item-setting__tag {
    margin-top: 8px;
  }
}

.todo-item-setting__date {
  background-color: var(--td-bg-color-container);
  padding: 16px 8px;
  border-radius: var(--td-radius-default);
}