.todo-content-default {
  width: 100%;
  height: 100%;

  .list {
    position: relative;
    height: 100%;
    width: 100%;
  }


  .info {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .list {
    .list-container {
      position: absolute;
      top: 120px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;

    }
  }

  .main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .header {
      position: absolute;
      top: 7px;
      left: 7px;
      right: 7px;

      .title {
        position: absolute;
        top: 0;
        left: 0;
        right: 39px;
      }

      .priority {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .content {
      position: absolute;
      top: 46px;
      left: 7px;
      right: 7px;
      bottom: 7px;
      overflow: auto;
      overflow-x: hidden;

      .container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 32px;

      }
    }

    .footer {
      position: absolute;
      left: 7px;
      right: 7px;
      bottom: 7px;
      display: flex;
      justify-content: space-between;
      overflow-x: auto;
      height: 24px;
    }

  }
}
