@font-face {
    font-family: JetBrainsMono;
    src: url('@/assets/fonts/JetBrainsMono-Regular.woff2');
}

pre {
    font-family: JetBrainsMono, Console, '微软雅黑', Courier, monospace !important;

    code,
    span {
        font-family: JetBrainsMono, Console, '微软雅黑', Courier, monospace !important;
    }
}


.arco-typography {
    pre {
        border: 1px solid var(--color-neutral-6);
        padding: 7px;
        border-radius: 7px;
        overflow: auto;

        code {
            color: var(--color-text-1) !important;
            overflow-x: hidden;
        }
    }

    code {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 1em !important;
        border: none !important;
        background-color: transparent !important;
        color: #c7254e !important;
        border-radius: 2px;
        font-family: JetBrainsMono, Console, '微软雅黑', Courier, monospace !important;

        ol {
            margin: 0;
            padding: 0 20px;
        }
    }
}

.icon {
    fill: var(--color-text-1);
}

.arco-menu-light {
    .arco-menu-item {
        .icon {
            fill: var(--color-text-3);
        }

        &.arco-menu-selected {
            .icon {
                fill: rgb(var(--primary-6));
            }
        }
    }
}

pre code.hljs {
    overflow-x: initial !important;
}

.bytemd {
    height: calc(100vh - 47px) !important;
}
