.he-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    .header {
        position: relative;
        .menu {
            width: 32px;
            height: 31px;
            border-bottom: 1px solid var(--color-border-2);
        }
        .tab {
            position: absolute;
            top: 0;
            right: 4px;
            bottom: 0;
        }
    }
}

.ec-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.ec-container-item {
    position: relative;
    width: 100%;
    height: calc(100% - 3px);
}
